#Ignoro la carpeta de archivos de configuración para no llevar control de versión de archivos propios de cada entorno.
ConfigFiles/*
#Excepto el archivo 
!ConfigFiles/SAMPLE_Config_By_Env_(DuplicateAndRename).json

#vscode files
.vscode/
